#!/bin/bash
# $1: where
echo "iptables -A INPUT -s {{host.ip}} -j ACCEPT;iptables -A OUTPUT -d {{host.ip}} -j ACCEPT;iptables -A INPUT -s 0.0.0.0/0 -j DROP;iptables -A OUTPUT -d 0.0.0.0/0 -j DROP " | ssh $1