#!/bin/bash
{% if hbase.hdfs is defined %}

{{directory}}/script/hbase-event-generator

mkdir -p {{ directory }}/results/hbase
rm -f -r {{ directory }}/results/hbase/* 

touch {{ directory }}/results/hbase/timings.out
ssh {{ hbase.masters[0].host.host.name }} 'echo "create \"{{table}}\", \"family\"" | hbase shell'


echo "Start $(date)" >>  {{ directory }}/results/hbase/timings.out        
{{ directory }}/script/hbase-delete
{{directory}}/YCSB/bin/ycsb load hbase -P {{directory}}/config/hbase.conf -P {{directory}}/config/workload-ycsb-thomas -P {{directory}}/config/workload-ycsb-thomas-load -s > {{ directory }}/results/hbase/load-unlimited.dat	
sleep 50s	
{{directory}}/YCSB/bin/ycsb run hbase -P {{directory}}/config/hbase.conf -P {{directory}}/config/workload-ycsb-thomas -P {{directory}}/config/workload-ycsb-thomas-stress-load -s -threads 40  > {{ directory }}/results/hbase/unlimited.dat	
sleep 20s

{% if threads %}
sleep 100s  
for t in 1 2 3 4 5 7 10 15 20 30 40 50 75 100; do
	for i in 2;do
	echo "Threads $t $i $(date)" >>  {{ directory }}/results/hbase/timings.out        
	{{ directory }}/script/hbase-delete
	{{directory}}/YCSB/bin/ycsb load hbase -P {{directory}}/config/hbase.conf -P {{directory}}/config/workload-ycsb-thomas -P {{directory}}/config/workload-ycsb-thomas-load -s > {{ directory }}/results/hbase/load-target-$t-$i.dat
	sleep 50s	
	{{directory}}/YCSB/bin/ycsb run hbase -P {{directory}}/config/hbase.conf -P {{directory}}/config/workload-ycsb-thomas -P {{directory}}/config/workload-ycsb-thomas-stress-load -s -threads $t  > {{ directory }}/results/hbase/threads-$t-$i.dat

	done
done  
{% endif %}

{% if maxLoad %}
sleep 100s
for t in 50 100 200 300 400 500 600 700 800 900 1000 1500 2000 3000 4000; do
	for i in 2;do
	echo "Hockey $t $i $(date)" >>  {{ directory }}/results/hbase/timings.out        
	{{ directory }}/script/hbase-delete
	{{directory}}/YCSB/bin/ycsb load hbase -P {{directory}}/config/hbase.conf -P {{directory}}/config/workload-ycsb-thomas -P {{directory}}/config/workload-ycsb-thomas-load -s > {{ directory }}/results/hbase/load-target-$t-$i.dat
	sleep 50s	
	{{directory}}/YCSB/bin/ycsb run hbase -P {{directory}}/config/hbase.conf -P {{directory}}/config/workload-ycsb-thomas -P {{directory}}/config/workload-ycsb-thomas-stress-load -s -threads 40 -target $t  > {{ directory }}/results/hbase/target-$t-$i.dat

	done
done     
{%endif %}

{% if availabilityStop %}
sleep 100s
for host in {%for region in hbase.regions -%}
                {{ region.host.host.name }}
                    {%- if not loop.last -%} 
                        {{ ' '}} 
                    {%- endif -%}
            {%- endfor %}; do 
            
 	#HBase - Continuous run: 900s!
	for run in 1 2 ;do
		echo "Continiuum $host $run $(date)" >>  {{ directory }}/results/hbase/timings.out        
	
		{{ directory }}/script/hbase-delete
		{{directory}}/YCSB/bin/ycsb load hbase -P {{directory}}/config/hbase.conf -P {{directory}}/config/workload-ycsb-thomas -P {{directory}}/config/workload-ycsb-thomas-load -s	> {{directory}}/results/hbase/load-continuous-$host-$run.dat
		sleep 50s
		{{directory}}/YCSB/bin/ycsb run hbase -P {{directory}}/config/hbase.conf -P {{directory}}/config/workload-ycsb-thomas -P {{directory}}/config/workload-ycsb-thomas-continuous -s -target 200 -p eventFile={{directory}}/config/hbase/hbase-event-$host.xml > {{directory}}/results/hbase/continuous-$host-$run.dat
		{{ directory }}/script/hbase-remote-soft regionserver start $host
		
		sleep 100s
	done
done
{%endif %}

{% if availabilityKill %}
sleep 100s
for host in {%for region in hbase.regions -%}
                {{ region.host.host.name }}
                    {%- if not loop.last -%} 
                        {{ ' '}} 
                    {%- endif -%}
            {%- endfor %}; do 
            
 	#HBase - Continuous run: 900s!
	for run in 1 2 ;do
		echo "Continiuum $host KILL $run $(date)" >>  {{ directory }}/results/hbase/timings.out        
	
		{{ directory }}/script/hbase-delete
		{{directory}}/YCSB/bin/ycsb load hbase -P {{directory}}/config/hbase.conf -P {{directory}}/config/workload-ycsb-thomas -P {{directory}}/config/workload-ycsb-thomas-load -s	> {{directory}}/results/hbase/load-continuous-$host-kill-$run.dat
		sleep 50s
		{{directory}}/YCSB/bin/ycsb run hbase -P {{directory}}/config/hbase.conf -P {{directory}}/config/workload-ycsb-thomas -P {{directory}}/config/workload-ycsb-thomas-continuous -s -target 200 -p eventFile={{directory}}/config/hbase/hbase-event-$host-kill.xml > {{directory}}/results/hbase/continuous-$host-kill-$run.dat
		{{ directory }}/script/hbase-remote-soft regionserver start $host
		sleep 100s
	done
done
{% endif %}

{% if availabilityDrop %}
sleep 100s
for host in {%for region in hbase.regions -%}
                {{ region.host.host.name }}
                    {%- if not loop.last -%} 
                        {{ ' '}} 
                    {%- endif -%}
            {%- endfor %}; do 
            
 	#HBase - Continuous run: 900s!
	for run in 1 2 ;do
		echo "Continiuum $host KILL $run $(date)" >>  {{ directory }}/results/hbase/timings.out        
	
		{{ directory }}/script/hbase-delete
		{{directory}}/YCSB/bin/ycsb load hbase -P {{directory}}/config/hbase.conf -P {{directory}}/config/workload-ycsb-thomas -P {{directory}}/config/workload-ycsb-thomas-load -s	> {{directory}}/results/hbase/load-continuous-$host-drop-$run.dat
		sleep 50s
		{{directory}}/YCSB/bin/ycsb run hbase -P {{directory}}/config/hbase.conf -P {{directory}}/config/workload-ycsb-thomas -P {{directory}}/config/workload-ycsb-thomas-continuous -s -target 200 -p eventFile={{directory}}/config/hbase/hbase-event-$host-drop.xml > {{directory}}/results/hbase/continuous-$host-drop-$run.dat
		{{ directory }}/script/hbase-remote-soft regionserver start $host
		{{ directory }}/script/hadoop-remote-soft datanode start $host
		sleep 100s
	done
done
{% endif %}
{% endif %}