#!/bin/bash
{% if mongodbConsistency is defined %}
{% if mongodbConsistency.nodes is defined %}
mkdir -p /tmp/mongodbsharded/
echo "var master = db.isMaster();
if (master.ismaster == false)
{
  db = connect(master.primary + '/' + db);
}
use {{table}}-consistency
db.dropDatabase()" > /tmp/mongodbsharded/table.delete.in

cat /tmp/mongodbsharded/table.delete.in | mongo --host {{mongodbConsistency.nodes[0].server.host.ip}}:{{mongodbConsistency.nodes[0].port}}
{% endif %}
{% endif %}
