#!/bin/bash
{% if mongodb.accessServers is defined %}
mkdir -p /tmp/mongodbsharded/
echo "use {{table}}" > /tmp/mongodbsharded/table.delete.in
echo "db.usertable.remove()" >> /tmp/mongodbsharded/table.delete.in

cat /tmp/mongodbsharded/table.delete.in | mongo --host {{mongodb.accessServers[0].server.host.ip}}:{{mongodb.accessServers[0].port}}
{% endif %}