#!/bin/bash
{% if mongodbConsistency is defined %}
{% if mongodbConsistency.nodes is defined %}
{% if consistency %}
mkdir -p {{ directory }}/results/mongodb-consistency
rm -f -r {{ directory }}/results/mongodb-consistency/*  

touch {{ directory }}/results/mongodb-consistency/timings.out

echo "Start $(date)" >>  {{ directory }}/results/mongodb-consistency/timings.out        
{{ directory }}/script/mongodb-delete-consistency

#{{directory}}/YCSB/bin/ycsb load mongodb -P {{directory}}/config/mongodb-consistency.conf -P {{directory}}/config/workload-ycsb-thomas -P {{directory}}/config/workload-ycsb-thomas-load -s	> {{ directory }}/results/mongodb-consistency/load-unlimited.dat	
#sleep 20s
#{{directory}}/YCSB/bin/ycsb run mongodb -P {{directory}}/config/mongodb-consistency.conf -P {{directory}}/config/workload-ycsb-thomas -P {{directory}}/config/workload-ycsb-thomas-stress-load -s -threads 15  > {{ directory }}/results/mongodb-consistency/unlimited.dat	
#sleep 20s

for writeStyle in none safe normal fsync_safe replicas_safe majority; do 
    for readStyle in nearest primary primarypreferred secondary secondarypreferred ; do       
		for run in 1 2 ;do
			echo "Continiuum $writeStyle $readStyle $run $(date)" >>  {{ directory }}/results/mongodb-consistency/timings.out        
			
			{{ directory }}/script/mongodb-delete-consistency
			
			{{directory}}/YCSB/bin/ycsb load mongodb -P {{directory}}/config/mongodb-consistency.conf -P {{directory}}/config/workload-ycsb-thomas-consistency -P {{directory}}/config/workload-ycsb-thomas-load -s	> {{directory}}/results/mongodb-consistency/load-continuous-$writeStyle-$readStyle-$run.dat
			sleep 50s
echo "insertMatrixDelayExportFile={{directory}}/results/mongodb-consistency/insertDelay-$writeStyle-$readStyle-$run.dat
updateMatrixDelayExportFile={{directory}}/results/mongodb-consistency/updateDelay-$writeStyle-$readStyle-$run.dat
insertMatrixNbOfChangesExportFile={{directory}}/results/mongodb-consistency/insertChanges-$writeStyle-$readStyle-$run.dat
updateMatrixNbOfChangesExportFile={{directory}}/results/mongodb-consistency/updateChanges-$writeStyle-$readStyle-$run.dat
insertMatrixRawExportFile={{directory}}/results/mongodb-consistency/insertRawData-$writeStyle-$readStyle-$run.dat
updateMatrixRawExportFile={{directory}}/results/mongodb-consistency/updateRawData-$writeStyle-$readStyle-$run.dat
mongodb.readPreference=$readStyle
mongodb." > {{directory}}/config/mongodb-consistency-tmp.conf
		{{directory}}/YCSB/bin/ycsb run mongodb -P {{directory}}/config/mongodb-consistency.conf -P {{directory}}/config/workload-ycsb-thomas-consistency -P {{directory}}/config/workload-ycsb-thomas-consistency-run -P {{directory}}/config/mongodb-consistency-tmp.conf -p mongodb.writeConcern=$writeStyle -p mongodb.readPreference=$readStyle -s -target 188  -threads 9 > {{directory}}/results/mongodb-consistency/continuous-$writeStyle-$readStyle-$run.dat
			sleep 30s
		done
	done
done

{% endif %}
{% endif %}
{% endif %}