{% if mongodb.accessServer[0] is defined %}
mongodb.url = mongodb://{{mongodb.accessServer[0].server.host.ip}}:{{mongodb.accessServer[0].port}}
mongodb.database = ycsb
mongodb.writeConcern = safe
mongodb.maxconnections = 10
{% endif %}