{% if mongodb.accessServers is defined %}
mongodb.url = {%for node in mongodb.accessServers -%}
				mongodb://{{node.server.host.ip}}:{{node.port}}
				{%- if not loop.last -%} 
                        {{ ','}} 
                    {%- endif -%}
            {%- endfor %}
mongodb.database = {{table}}
mongodb.writeConcern = safe
mongodb.maxconnections = 100
{% endif %}