{% if mongodbConsistency is defined %}
{% if mongodbConsistency.nodes is defined %}
mongodb.url = mongodb://{{mongodbConsistency.nodes[0].server.host.ip}}:{{mongodbConsistency.nodes[0].port}}
mongodb.database = {{table}}-consistency
mongodb.maxconnections = 3
{% endif %}
{% endif %}