{% if mongodbConsistency is defined %}
{% if mongodbConsistency.nodes is defined %}
mongodb.url = {%for node in mongodbConsistency.nodes -%}
	                mongodb://{{node.server.host.ip}}:{{node.port}}
					{%- if not loop.last -%} 
                        {{ ','}} 
                    {%- endif -%}
                 {%- endfor %}
mongodb.database = {{table}}-consistency
mongodb.maxconnections = 100
{% endif %}
{% endif %}