#!/bin/bash
{% if mongodb.accessServers is defined %}
mkdir -p /tmp/mongodbsharded/
echo "use {{table}}" > /tmp/mongodbsharded/table.delete.in
echo "db.usertable.remove()" >> /tmp/mongodbsharded/table.delete.in
echo "db.dropDatabase()" >> /tmp/mongodbsharded/table.delete.in
 
cat /tmp/mongodbsharded/table.delete.in | mongo --host {{mongodb.shardController.accessServer.server.host.name}}:{{mongodb.shardController.accessServer.port}}

echo "/usr/bin/mongodb-shardeddatabases && /usr/bin/mongodb-shardedcollections" | ssh {{mongodb.shardController.host.host.name}}
{% endif %}