#!/bin/bash
{% if postgresql.host is defined %}
dropdb -U postgres -h {{ postgresql.host.name }} -p {{postgresql.port}} {{table}}
createdb -U postgres -h {{ postgresql.host.name }} -p {{postgresql.port}} {{table}}

psql -d {{table}} -U postgres -h {{ postgresql.host.name }} -p {{postgresql.port}} -f {{directory}}/YCSB/jdbc/src/main/resources/sql/create_table.sql

{% endif %}