#!/bin/bash
{% if postgresql.host is defined %}
mkdir -p {{ directory }}/config/postgresql
rm -r -f {{ directory }}/config/postgresql/*
{%for node in postgresql.pgpoolNodes %}
	echo "<?xml version=\"1.0\"?>
	<events>
		<event id=\"Down\" startInMS=\"300000\">
			{{ directory }}/script/postgresql-remote-soft postgresql stop {{ node.host.name }}
		</event>
		<event id=\"Up\" startInMS=\"600000\">
			{{ directory }}/script/postgresql-remote-recover {{ loop.index0}} {{ node.host.name }}
		</event>
	</events>" > {{ directory }}/config/postgresql/postgresql-event-{{ node.host.name }}.xml
	
	echo "<?xml version=\"1.0\"?>
	<events>
		<event id=\"Down\" startInMS=\"300000\">
			{{ directory }}/script/postgresql-remote-hard-stop postgresql KILL {{ node.host.name }}
		</event>
		<event id=\"Up\" startInMS=\"600000\">
			{{ directory }}/script/postgresql-remote-recover {{ loop.index0}} {{ node.host.name }}
		</event>
	</events>" > {{ directory }}/config/postgresql/postgresql-event-{{ node.host.name }}-kill.xml
	
	echo "<?xml version=\"1.0\"?>
	<events>
		<event id=\"Down\" startInMS=\"300000\">
			{{ directory }}/script/all-remote-network-stop {{ node.host.name }}
		</event>
		<event id=\"Up\" startInMS=\"600000\">
			{{ directory }}/script/postgresql-remote-drop-recover {{ loop.index0}} {{ node.host.name }}
		</event>
	</events>" > {{ directory }}/config/postgresql/postgresql-event-{{ node.host.name }}-drop.xml
{% endfor %}
{% endif %}