#!/bin/bash
{% if postgresql.host is defined %}

{{directory}}/script/postgresql-event-generator

createdb -U postgres -h {{ postgresql.host.name }} -p {{postgresql.port}} usertable
psql -d usertable -U postgres -h {{ postgresql.host.name }} -p {{postgresql.port}} -f {{directory}}/YCSB/jdbc/src/main/resources/sql/create_table.sql

mkdir -p {{ directory }}/results/postgresql
rm -f -r {{ directory }}/results/postgresql/*  
       
{{ directory }}/script/postgresql-delete
{{directory}}/YCSB/bin/ycsb run jdbc -P {{directory}}/config/postgresql.conf -P {{directory}}/config/workload-ycsb-thomas -P {{directory}}/config/workload-ycsb-thomas-stress-load -s -threads 100  > {{ directory }}/results/postgresql/unlimited.dat	
sleep 20s

for t in 20 50 100 150 200 250 300 400 500 600 700; do
	for i in 2;do
	{{ directory }}/script/postgresql-delete
	{{directory}}/YCSB/bin/ycsb run jdbc -P {{directory}}/config/postgresql.conf -P {{directory}}/config/workload-ycsb-thomas -P {{directory}}/config/workload-ycsb-thomas-stress-load -s -threads 100 -target $t  > {{ directory }}/results/postgresql/threads-$t-$i.dat

	done
done     

sleep 100s
{%for node in postgresql.pgpoolNodes -%}
           
 	#postgresql - Continuous run: 900s!
	for run in 1 2 ;do
		{{ directory }}/script/postgresql-delete
		{{directory}}/YCSB/bin/ycsb run jdbc -P {{directory}}/config/postgresql.conf -P {{directory}}/config/workload-ycsb-thomas -P {{directory}}/config/workload-ycsb-thomas-continuous -s -target 50 -p eventFile={{directory}}/config/postgresql/postgresql-event-{{ node.host.name }}.xml > {{directory}}/results/postgresql/continuous-{{ node.host.name }}-$run.dat
		sleep 50s
		{{ directory }}/script/postgresql-remote-recover {{ loop.index0}} {{ node.host.name }}
	done
{%- endfor %}
{% endif %}