readThreads=30
consistencyDelayMillis=60
newrequestperiodMillis=500
starttime=10000
maxexecutiontime = 500

#insertMatrixDelayExportFile={{directory}}/results/insertDelay
#updateMatrixDelayExportFile={{directory}}/results/updateDelay
#insertMatrixNbOfChangesExportFile={{directory}}/results/insertChanges
#updateMatrixNbOfChangesExportFile={{directory}}/results/updateChanges
#insertMatrixRawExportFile={{directory}}/results/insertRawData
#updateMatrixRawExportFile={{directory}}/results/updateRawData

useFixedOperationDistributionSeed=True
operationDistributionSeed=46732463246

readProportionConsistencyCheck=0.5
updateProportionConsistencyCheck=0.5

stopOnFirstConsistency=True
consistencyTest=True
addSeparateWorkload=True

maxDelayConsistencyBeforeDropInMicros=300000
timeoutConsistencyBeforeDropInMicro=300000